{% extends 'book/base.html' %}
{% load static %}
{%block content%}
<h3>LISTE DES CONTACTES</h3>
{% if contact_list %}
    <ul>
        {% for contact in contact_list%}
            <li>
                <a href="{% url 'book:details' contact.id %}">D</a>{{contact.name}} {{ contact.lastname}}
                <a href="{% url 'book:update' contact.id %}">Modifier</a>
                <a href="{% url 'book:process_delete' contact.id %} " class="delete-link">Supprimer</a>
                <p>{{ contact.phone }}</p>
            </li>
        {% endfor %}
    </ul>
{% else %}
    <p>Aucun contact pour l'instant</p>
{% endif %}

<script>
    document.addEventListener('DOMContentLoaded', function() {
        const deleteLinks = document.querySelectorAll('.delete-link');

        deleteLinks.forEach(link => {
            link.addEventListener('click', function(event) {
                const confirmation = confirm('Êtes-vous sûr de vouloir supprimer ce contact ? Cette action est irréversible.');

                if (!confirmation) {
                    event.preventDefault();
                }
            });
        });
    });
</script>

{% endblock %}
